@tailwind base;
@tailwind components;
@tailwind utilities;

.terra {
  color: #7a1f00;
  fill: #7a1f00;
}

.terra-link:hover {
  color: #aa5031;
  fill: #aa5031;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
